{
    "database_url": "sqlite:///hanabira.db?check_same_thread=False",
    "debug": 0,
    "registration_domain": "{your domain}",
    "server_port": 8080,
    "server_addr": "{bind to this",
    "pid_file": "pidfile.dl",
    "dns_record_ttl": 60,
    "is_proxied": 1,
    "djbdns_root": "/etc/tinydns/root",
    "templates" : "tox_im",
    "findfriends_enabled" : 1,
    "number_of_workers": 2,
    "suid": "{who I run as}",
    "enable_dns_server": true,
    "dns_authority_name": "{My nameserver}",
    "dns_hostmaster": "{dns@admin.email}",
    "home_addresses": [
        "{remote address}"
    ],
    "dns_listen_addr": "{your domain}"
}

