{% import base64 %}
{% import binascii %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tox ID Service</title>
    <link href="/static/tox.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header_nav">
        <a class="icon" href="/" title="Tox"></a>
    </header>
    <article class="main_content">
        <div class="chunk hello">
            <p>
                <a href="tox://{{ record.public_key }}{{ record.pin }}{{ record.checksum }}">Click here to add {{record.name}}.</a>
                <br><br>You can also add <b>{{ record.name }}@{{ realm }}</b> in your client.
            </p>
            {% if record.bio %}
            <div class="user_entry">
                <p class="quote">{{ record.bio }}</p>
                <p class="quote_tail"></p>
                <span class="username">
                    <b>{{ record.name }}</b><span class="de-emphasize">@{{ realm }}</span>
                </span>
                {% if record.pin %}
                <p class="public_id"><b>Full Tox ID</b>: {{ record.public_key }}{{ record.pin }}{{ record.checksum }}</p>
                <p class="public_id"><b>PIN</b>: <code>{% raw base64.b64encode(binascii.unhexlify(record.pin)).decode("utf8").strip("=") %}</code></p>
                {% end %}
            </div>
            {% end %}
        </div>
        <div class="chunk barcode">
            <img src="/barcode/{{ record.name }}.svg">
            <p>
                <small class="de-emphasize">(If you have a phone, you can scan this QR code to add {{ record.name }} instead.)</small>
            </p>
        </div>
        <p><a href="https://wiki.tox.im/Binaries">Don't have Tox? Click here to install it.</a></p>
        <div id="footer" class="footer">
            <p>
                
                <small class="de-emphasize">Copyright &copy; 2014 Tox Foundation. All rights reserved.</small>
                <small class="de-emphasize"><a href="https://github.com/Tox/toxme.se">I'm open source!</a></small>            </p>
        </div>
    </article>
</body>
</html>
