body {
    background-color:#b95454;
    -webkit-font-smoothing:antialiased;
    font-family:sans-serif;
}
.header_nav {
    margin-top:50px;
    text-align:center;
}
.header_nav > .icon {
    background-image:url(headers/m1.png);
    height:170px;
    width:170px;
    display:block;
    margin:0 auto;
}

#hello {
    margin-top:6em;
}
.main_content {
    max-width:900px;
    padding:10px;
    margin:0 auto;
    text-align:center;
    color:white;
    line-height:1.4em;
}
.main_content a {
    font-weight:bold;
    text-decoration:none;
    border-bottom:1px rgba(255, 255, 255, 0.90) dashed;
    color:white;
}

.chunk {
    padding-bottom:20px;
}

.tagline {
    font-size:36pt;
    margin:0;
    font-weight:lighter;
    line-height:1.2em;
}
.de-emphasize {
    color: rgb(230, 230, 230)
}
.lookup_form {
    font-size:0;
}
.lookup_form > input,
.lookup_form > button {
    -webkit-font-smoothing:antialiased;
    font-size:20px;
    font-family:"Helvetica Neue", sans-serif;
    border:none;
    box-sizing:border-box;
    outline:none;
    margin:0;
    padding:10px 25px;
}
.lookup_form > input {
    border-radius:9001px 0 0 9001px;
}
.lookup_form > button {
    border-radius:0 9001px 9001px 0;
    background-color:#AAAAAA;
}
.chunk.report {
    max-width:800px;
    text-align:left;
    margin:0 auto;
    border-radius:8px;
    background-color:rgba(0, 0, 0, 0.19);
    padding:15px;
    box-sizing:border-box;
}
.chunk.report > p {
    margin:0;
}
table#results {
    table-layout:fixed;
    width:100%;
}
table#results td:first-child {
    font-weight:bold;
    width:170px;
}
table#results td {
    vertical-align: top;
    word-wrap:break-word;
}
table#results.v1 tr.v2only,
table#results.v2 tr.v1only {
    display:none;
}
td#lu_user_sig.good::before {
    content:"\2713";
    display:inline-block;
    padding-right:5px;
    color:#33FF33;
}
td#lu_user_sig.bad::before {
    content:"\2715";
    display:inline-block;
    padding-right:5px;
    color:#FF6666;
}

@media (min-width: 1000px) {
    .main_content {
        padding:10px 20px;
    }
}

@media (max-width: 320px) {
    #hello {
        margin-top:3em;
    }
    table#results td:first-child {
        font-weight:bold;
        width:140px;
    }
    .lookup_form > input,
    .lookup_form > button {
        padding:10px 15px;
    }
    .lookup_form > input {
        width:200px;
    }
    .lookup_form > button {
        width:55px;
    }
}