<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tox ID Service</title>
    <link href="/static/k3.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="hello" class="main_content">
        <div class="chunk hello">
            <p class="tagline">404.</p>
            <p>
                I don't know anyone who goes by the name <b>{{ record }}@{{ realm }}</b>.
            </p>
        </div>
        <div id="footer" class="footer">
            <p>
                <small class="de-emphasize">Copyright &copy; 2014 Zodiac Labs. All rights reserved.</small>
                <small class="de-emphasize"><a href="https://github.com/zodiaclabs/tddmd">Get the source code of this webpage.</a></small>
            </p>
        </div>
    </div>
</body>
</html>
