<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; tox://{{ record }}@{{ realm }}">
    <title>Tox ID Service</title>
    <link href="/static/k3.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="hello" class="main_content">
        <div class="chunk hello">
            <p class="tagline">One moment, please.</p>
            <p>
                I'm opening your Tox client to add <b>{{ record }}@{{ realm }}</b>.
            </p>
            <p>
                <a href="tox://{{ record }}@{{ realm }}">If it still hasn't opened after a few seconds, click here.</a>
            </p>
            <p>
                <a href="http://download.tox.im/">Don't have Tox? Click here to install it.</a>
            </p>
        </div>
        <div class="chunk barcode">
            <img src="/barcode/{{ record }}.svg">
            <p>
                <small class="de-emphasize">(If you have a phone, you can scan the QR code instead.)</small>
            </p>
        </div>
        <div id="footer" class="footer">
            <p>
                <small class="de-emphasize">Copyright &copy; 2014 Zodiac Labs. All rights reserved.</small>
                <small class="de-emphasize"><a href="https://github.com/zodiaclabs/tddmd">Get source code of this webpage.</a></small>
            </p>
        </div>
    </div>
</body>
</html>
